# Node.js dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo
*.swn
*.DS_Store

# Jest & Coverage
coverage/
*.log
jest.config.js
